html{
    background-color:rgba(122, 191,191,.5) ;
}

body{
    background-color:#f2f2f2;
    width: 1030px;
    height:5000px;
    position:relative;
    left: 110px;
    bottom:30px;
}

h1{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    position: relative;
    top:250px;
}

h2{
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
/*street tacos*/

header ul{
   
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

header li{
    margin: 10px;
    position: relative;
    top: 250px;
}


#tacos img{
    width: 40%;
    position: relative;
    left: 120px;
    top: 60px;
    
}

#tacos p{
    max-width: 480px;
    position: relative;
    bottom:420px;
    left:540px;
}


/*details*/
#details{
    color:#7abfbf;
    background-color:black;
    padding-bottom: 30px;
    position: relative;
    bottom: 50px;
}

#details h2{
    text-align: center;
}
   
dl{
    list-style: none;
    display: inline;

}
dt{
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   display: inline;
   position: relative;
   left:40px;

}
dd{
    width: 400px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display:inline;
    position: relative;
    top:20px;
    right:85px;
}

/*ingredients*/

#ingredients h2{
    padding-left: 30px;
    position: relative;
    top:20px;
}
    
#ingredients{
    position: relative;
    bottom: 90px;
}

#ingredients li{
    padding-top: 10px;
    position: relative;
    right:20px;
}
/*directions*/

article{
    position: relative;
    bottom: 470px;
    left:225px;
    width:800px;
}

article li{
    padding: 10px;
    position: relative;
    bottom:20px;
}

article h2{
    text-align: center;
}

/*dishes-----------come back to this*/

#dishes{
    position: relative;
    bottom:180px;
    background-color:#7abfbf;
}

#dishes{
    
}

#dishes h2{
    text-align: center;
}

/* navigation*/

nav a{
    text-decoration: none;
}
nav li{
    list-style: none;
    display: inline;
}

nav img{
    width:75px;
    position: relative;
    margin-left: -20px;
    bottom: 3300px;
    left: 150px;
}

nav a{
    display: inline;
    position: relative;
    margin-left: -10px;
    bottom: 3270px;
    left:150px;
}


